.offpage{
    position: absolute;
    left: -1000px;
}

.offpage:focus{
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    background-color: #fff;
}

h1:focus{
    background-color: #db1414;
}


